body {
    background-color:rgb(55,85,169);
}
.container {
    width:600px;
    height:600px;
    background-color:navajowhite;
    position:relative;
}

.shape_container {
    border:1px solid black;
    margin:10px;
}

.circle {
    position:absolute;
}

.rectangle {
    position:absolute;
}

.square {
    position:absolute;
}